<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yfyk.dao.extend.RechargeExtendMapper">

    <sql id="whereOfGetRechargeList">
        <where>
            <!--<if test="community!= null and community!=''">-->
                <!--and h.community like CONCAT('%',#{community},'%')-->
            <!--</if>-->
            <if test="beginDate !=null ">
            and h.date_format(createDate,"%Y-%m-%d %T") &gt;= #{beginDate}
            </if>
            <if test="endDate !=null ">
            and h.date_format(createDate,"%Y-%m-%d %T") &lt;= #{endDate}
            </if>
        </where>

    </sql>

    <select id="getRechargeList" parameterType="com.yfyk.dto.request.finance.GetRechargeListRequest"
            resultType="com.yfyk.dto.response.GetRechargeListResponse">
        select h.id, h.createDate,h.amount,h.status,h.checkContent,m.userName,m.mobile,m.zhifubaoAccount,m.balance
        from t_recharge h LEFT  JOIN  t_member m ON h.member_id= m.id
        <include refid="whereOfGetRechargeList" />
        <if test="sort!=null">
            order by h.${sort}
            <if test="order!=null">
                ${order}
            </if>
        </if>
        <if test="sort==null">
            order by h.id DESC
        </if>
        <if test="pageOffset >= 0 and pageSize>0">
            limit #{pageOffset} , #{pageSize}
        </if>
    </select>

    <select id="getRechargeListCount" parameterType="com.yfyk.dto.request.finance.GetRechargeListRequest" resultType="int">
        select  count(*)  from t_recharge h
        <include refid="whereOfGetRechargeList" />
    </select>

</mapper>